<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About WordCount</title>
</head>
<body>
    
    <h1>About</h1>

    <a href="{% url 'home' %}">Home</a>

    <h3>
        This website is my first website built with the django framework. It has a basic functionality of allowing
        the user to enter in some text and our application counts the number of words in the text, among other things.
    </h3>

</body>
</html>