<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Count</title>
</head>
<body>

    <h1>There are {{ count }} words in your text!</h1>

    <a href="{% url 'home' %}">Start Over</a>

    <h2>Your text:</h2>
    
    <h4>{{ fulltext }}</h4>

    <h2>Word that appeared the most:</h2>

    <h4>{{ highest_word }}</h4>

    <h2>Number of occurrences for each word:</h2>

    {% for word, i in wordcount %}

    <span>{{ word }}: {{ i }}</span>
    <br>

    {% endfor %}

</body>
</html>